<h1>Races#index</h1>
<img src='https://i.ytimg.com/vi/KEh3wz-92i4/maxresdefault.jpg'>

<h3>New Injury</h3>

<%= render 'injuries/form', injury: @injury %>

<%= link_to 'Back', injuries_path %>

<p>Find me in app/views/races/index.html.erb</p>
